node_modules
coverage
*.log*
.DS_Store
.mtnrc
.mtnrc.*
.vscode
# Elastic Beanstalk Files
.elasticbeanstalk/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
newrelic_agent.log
