node_modules
coverage
*.log*
.DS_Store
.mtnrc
.mtnrc.*
.vscode
# Elastic Beanstalk Files
.ebextensions/*
.elasticbeanstalk/*
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
